<p id="notice"><%= notice %></p>

<p><%= image_tag @contact.avatar.url(:medium) %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @contact.business_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @contact.zip %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @contact.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @contact.phone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
